.contact-container {
    border-width: 10px;
    border-color: #1f98f4;
    border-style: double;
    align-items: center;
    text-align: left;
    margin: 50px;
    padding: 20px;
    font-size: large;
}

.contact-col > h1 {
    text-align: left;
    padding: 10px;
    font-size: 50px;
    font-style: italic;
    color: blue;
}

.contact-col > a {
    text-align: left;
    padding: 10px;
    font-style: italic;
}