.home-container {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    object-fit: contain;
}

.home-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-bottom: 0px;
    text-align: left;
    width:550px;
    box-sizing: border-box;
    border-width: 5px;
    border-color: #1f98f4;
    border-style: double;
    padding: 20px;
    align-content: center;
    padding-top: 0;
    height: 200px;
}

.home-row {
    display: flex;
    margin: 50px;
}

.home-container > h1 {
    margin-top: 70px;
    color: black;
    /* font-size: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-col > h1 {
    background-color: #1f98f4;
    width: 540px;
    font-size: 35px;
}

.home-container > h2  {
    color: black;
    font-size: 40px;  
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home-col > p {
    font-size: 18px;
}

.hours-row {
    display: flex;
}

#hours-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    align-content: center;
    padding-left: 35px;
    padding-top: 10px;
    
}

#hours-col > p {
    font-size: 18px;
}

@media screen and (max-width: 820px) {
    .home-container {
        padding-top: 2rem;
    }
    .footer-input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .home-col {
        flex-direction: column;
    }
    .home-row {
        flex-direction: column;
    }
}